.stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
  background: #f9fafb;
}

.card {
  text-align: center;
}

.card h2 {
  color: #2563eb;
  font-size: 28px;
}

.card p {
  color: #555;
}
